.App {
  font-family: 'Lato', sans-serif;
  text-align: center;
  
}

.search-bar {
  margin-top: 20px;
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.user-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  width: 200px;
  text-align: center;
}

.repo-list {
  margin-top: 10px;
}
.navBarColor{
  background-color: #1298c6;
}
.cardBody{
  background-color: #ddd;
}
.navContent{
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  gap: 1rem; /* Adds space between SearchBar and SortDropdown */
  width: 100%; /* Ensure it takes full width of the parent */
  padding: 1rem;
}
